{{ define "main" }}
<div class="fdc-content-layout">
    <section>
        <div class="md:pr-48 lg:pr-72 xl:pr-80 xxl:pr-96">
            {{ .Content }}
        </div>
        <h4 class="mt-20" id="news">News</h4>
        <div class="mt-6 grid grid-cols-1 lg:grid-cols-3 items-start gap:10 lg:gap-20 lg:gap-20 mt-2">
            {{ $filteredPages := slice }}
            {{ range .Site.RegularPages.ByDate.Reverse }}
              {{ if strings.Contains .Path "chronicle/news" }}
                {{ $filteredPages = $filteredPages | append . }}
              {{ end }}
            {{ end }}
            {{ range first 3 $filteredPages }}
                {{- partial "chronicle-article-teaser.html" . -}}
            {{ end }}
        </div>
        <div class="mt-8 mb-10">
            <a href="/chronicle/news"
                class="inline-block leading-none cursor-pointer text-xl no-underline font-serif hover:text-red">
                see more →
            </a>
        </div>

        <h4 class="mt-20" id="showroom">Showroom</h4>
        <div class="mt-6 grid grid-cols-1 lg:grid-cols-3 items-start gap:10 lg:gap-20">
            {{ $filteredPages := slice }}
            {{ range .Site.RegularPages.ByDate.Reverse }}
              {{ if strings.Contains .Path "chronicle/showroom" }}
                {{ $filteredPages = $filteredPages | append . }}
              {{ end }}
            {{ end }}
            {{ range first 3 $filteredPages }}
                {{- partial "chronicle-article-teaser.html" . -}}
            {{ end }}
        </div>
        <div class="mt-8 mb-10">
            <a href="/chronicle/showroom"
            class="inline-block leading-none cursor-pointer text-xl no-underline font-serif hover:text-red">
            see more →
            </a>
        </div>

        <h4 class="mt-20" id="case-studies">Case Studies</h4>
        <div class="mt-6 grid grid-cols-1 lg:grid-cols-3 items-start gap:10 lg:gap-20 lg:gap-20 mt-2">
            {{ $filteredPages := slice }}
            {{ range .Site.RegularPages.ByDate.Reverse }}
              {{ if strings.Contains .Path "chronicle/case-studies" }}
                {{ $filteredPages = $filteredPages | append . }}
              {{ end }}
            {{ end }}
            {{ range first 3 $filteredPages }}
                {{- partial "chronicle-article-teaser.html" . -}}
            {{ end }}
        </div>
        <div class="mt-8 mb-10">
            <a href="/chronicle/case-studies"
                class="inline-block leading-none cursor-pointer text-xl no-underline font-serif hover:text-red">
                see more →
            </a>
        </div>
        <h4 class="mt-20" id="we-support">We Support</h4>
        <div class="mt-6 grid grid-cols-1 lg:grid-cols-3 items-start gap:10 lg:gap-20 lg:gap-20 mt-2">
            {{ $filteredPages := slice }}
            {{ range .Site.RegularPages.ByDate.Reverse }}
              {{ if strings.Contains .Path "chronicle/we-support" }}
                {{ $filteredPages = $filteredPages | append . }}
              {{ end }}
            {{ end }}
            {{ range first 3 $filteredPages }}
                {{- partial "chronicle-article-teaser.html" . -}}
            {{ end }}
        </div>
        <div class="mt-8 mb-10">
            <a href="/chronicle/we-support"
            class="inline-block leading-none cursor-pointer text-xl no-underline font-serif hover:text-red">
            see more →
            </a>
        </div>
    </section>
</div>
<div class="w-full mt-10">
    <div class="fdc-content-layout bg-alabaster">
        <section>
            <h4 class="mt-20" id="podcasts">Podcasts</h4>
            <div class="mt-6 grid grid-cols-1 lg:grid-cols-3 items-start gap:10 lg:gap-20 lg:gap-20 mt-2">
                {{ $filteredPages := slice }}
                {{ range .Site.RegularPages.ByDate.Reverse }}
                    {{ if strings.Contains .Path "chronicle/podcast" }}
                        {{ $filteredPages = $filteredPages | append . }}
                    {{ end }}
                {{ end }}
                {{ range first 3 $filteredPages }}
                    {{- partial "chronicle-podcast-teaser.html" . -}}
                {{ end }}
            </div>
            <div class="mt-8 mb-10">
                <a href="/chronicle/podcasts"
                    class="inline-block leading-none cursor-pointer text-xl no-underline font-serif hover:text-red">
                    see more →
                </a>
            </div>
        </section>
    </div>
</div>
{{ end }}
