{{ define "main" }}
{{ $sections := slice "news" "showroom" "case-studies" "we-support" "podcast" }}
{{ $titles := dict "news" "News" "showroom" "Showroom" "case-studies" "Case Studies" "we-support" "We Support" "podcast" "Podcasts" }}

{{ $pages := dict }}
{{ range $sections }}
    {{ $pages = merge $pages (dict . slice) }}
{{ end }}

{{ range .Site.RegularPages.ByDate }}
    {{ $currentPage := . }}
    {{ range $sections }}
        {{ if strings.Contains $currentPage.Path (printf "chronicle/%s" .) }}
            {{ $sectionPages := index $pages . }}
            {{ $newSlice := append $sectionPages (slice $currentPage) }}
            {{ $pages = merge $pages (dict . $newSlice) }}
        {{ end }}
    {{ end }}
{{ end }}

<div class="fdc-content-layout">
    <section>
        <div class="">
            {{ .Content }}
        </div>

        {{ range $sections }}
            {{ $section := . }}
            {{ $title := index $titles $section }}
            {{ $sectionPages := index $pages $section }}

            {{ if ne $section "podcast" }}
                <h3 class="mt-20" id="{{ $section }}">{{ $title }}</h3>
                <div class="mt-6 grid grid-cols-1 lg:grid-cols-3 items-start gap-8 lg:gap-16 mt-2">
                    {{ range first 3 $sectionPages }}
                        {{- partial "chronicle-article-teaser.html" . -}}
                    {{ end }}
                </div>
                <div class="mt-8 mb-10">
                    <a href="/chronicle/{{ $section }}"
                        class="inline-block leading-none cursor-pointer text-xl no-underline font-serif hover:text-red">
                        see more →
                    </a>
                </div>
            {{ end }}
        {{ end }}
    </section>
</div>
    {{ if (false) }}
    <div class="w-full mt-10">
        <div class="fdc-content-layout bg-alabaster">
            <section>
                <h3 class="mt-20" id="podcasts">Podcasts</h3>
                <div class="mt-6 grid grid-cols-1 lg:grid-cols-3 items-start gap-8 lg:gap-16 mt-2">
                    {{ range first 3 (index $pages "podcast") }}
                        {{- partial "chronicle-podcast-teaser.html" . -}}
                    {{ end }}
                </div>
                <div class="mt-8 mb-10">
                    <a href="/chronicle/podcasts"
                        class="inline-block leading-none cursor-pointer text-xl no-underline font-serif hover:text-red">
                        see more →
                    </a>
                </div>
            </section>
        </div>
    </div>
    {{ end }}
{{ end }}
