{{ define "main" }}
    {{ with .Content }}
        <div class="fdc-content-layout">
            <section>
                {{ . }}
            </section>
        </div>
    {{ end }}
    <div class="w-full mt-10">
        <div class="fdc-content-layout bg-pale-green">
            <section>
                <h3 class="mt-20" id="case-studies">Case Studies</h3>
                <div class="mt-6 grid grid-cols-1 lg:grid-cols-3 items-start gap-8 lg:gap-16 mt-2">
                    {{ with .Site.GetPage "what-we-do/case-studies" }}
                        {{ range first 6 .Pages.ByDate.Reverse }}
                            {{- partial "chronicle-article-teaser.html" . -}}
                        {{ end }}
                    {{ end }}
                </div>
                <div class="mt-8 mb-10">
                    <a href="/what-we-do/case-studies"
                        class="inline-block leading-none cursor-pointer text-xl no-underline font-serif hover:text-red">
                        see more →
                    </a>
                </div>
            </section>
        </div>
        <div class="fdc-content-layout no-y-padding bg-black text-white">
            <section class="py-6">
                <div class="flex flex-wrap justify-center items-center gap-8 py-12">
                    {{ $logos := readDir "/static/img/what-we-do/logos" }}
                    {{ range $logos }}
                        <img src="/img/what-we-do/logos/{{ .Name }}" alt="{{ .Name }}" class="max-h-12 w-auto">
                    {{ end }}
                </div>
            </section>
        </div>
    </div>
{{ end }}